body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #e07d54;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  filter: brightness(0) invert(1); /* Invert logo colors */
}

nav.navbar {
  background-color: #e07d54;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #b2d3e6;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  width: 150px;
  margin-top: 15%;
  right: 2%;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a {
  color: #e07d54;
  text-decoration: none;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #b2d3e6;
}

.profile-container:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100%;
  margin-left: auto;
}

.search-bar input {
  padding: 10px;
  width: 100%; /* Set the width to 100% for responsiveness */
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 20px;
}
.search-bar {
  order: 1; /* Set the order to move the search bar to the end */
  margin-left: auto;
  margin-top: 15px;
  margin-right: 20px;
  height: 20px;
  width: 65%; /* Add this to move the search bar to the right */
}
.filters select,
.sort-btn {
  margin-left: 10px; /* Add margin between filter elements */
}

.custom-dropdown {
  position: relative;
  margin-right: 20px;
}

.language-dropdown,
.spoken-dropdown,
.sort-btn {
  font: 1em "Quicksand";
  color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: 1px solid #b2d3e6;
  border-radius: 5px;
  background-color: #b2d3e6;
  cursor: pointer;

  position: relative;
}

.sort-options {
  display: none; /* Hide sort options by default */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1; /* Ensure the dropdown is above other elements */
}

.sort-options:hover {
  display: flex;
  flex-direction: column;
}

.sort-option {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Show sort options on button click or hover */
.sort-btn:focus + .sort-options,
.sort-btn:hover + .sort-options {
  display: flex;
  flex-direction: column;
}

.contact-btn,
.view-btn,
.book-btn {
  font: 1em "Quicksand";
  color: white;
  border-style: none;
  border-radius: 7.5px;
  margin: 2px;
  width: 100px;
}
.contact-btn,
.view-btn,
.book-btn {
  background: #b2d3e6;
  padding: 13px 13px;
  border: none;
  color: white;
  transition: background-color 0.3s;
}

/* Hover styles for the "View" and "Book" buttons */
.view-btn:hover,
.book-btn:hover {
  background: #9fbbcc;
  border: none;
  color: white; /* Change the hover color if needed */
}
.sort-btn:hover + .sort-options,
.sort-options:hover {
  display: flex;
  flex-direction: column;
}

.lesson-time-btn {
  font: 1em "Quicksand";
  color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: 1px solid #b2d3e6;
  border-radius: 5px;
  background-color: #b2d3e6;
  cursor: pointer;
  position: relative;
}

.lesson-time-btn:hover {
  border-color: #555;
}

.lesson-time-btn::after {
  content: ""; /* Remove the content */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.teacher-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #fff;
}

.teacher-info {
  flex-grow: 1;
  margin-left: 15px;
}
.rating {
  display: flex;
  margin-top: 10px;
}

.star {
  color: #f7d200; /* Gold color for the stars */
  font-size: 20px;
  margin-right: 5px;
}
.actions {
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  justify-content: space-around; /* Add space between buttons */
  margin-top: 10px; /* Add margin for spacing */
}

.favorite-icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.contact-btn:hover {
  background-color: #e07d54;
}
.flag-icon {
  width: 30px; /* Adjust the width of the flag icon */
  height: 30px; /* Adjust the height of the flag icon */
  margin-left: 5px; /* Add some margin to separate the flag from the name */
  vertical-align: middle; /* Align the flag icon vertically with the text */
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 12%;
}
.footer-container {
  background-color: #e07d54;
  padding: 50px 210px; /* Check if excessive padding is necessary */
  width: 100%;
  box-sizing: border-box;
  color: white;
}
.footer-container h5 {
  padding-left: 0px;
}
div.row {
  flex-wrap: nowrap;
}
.form-control {
  height: 52px;
}
.d-flex svg {
  margin: 7px;
}

.teacher-card h2 {
  text-align: left;
}


